<%= simple_form_for(@competition) do |f| %>
  <% if @competition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

      <ul>
      <% @competition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name, placeholder: "Your name here" %>

  <%= f.input :start_date, :as => :date_picker, label: "Start Date" %> <%# f.date_select %>

  <%= f.select :num_days, collection: 0..30, selected: @competition.num_days, label: "Number of days" %>

  <%= f.select :comp_association, ['WDC', 'WDSF', 'Collegiate', 'Independent'], include_blank: true, label: "Competition association" %>

  <%= f.text_field :location_name, placeholder: "Location name here" %>

  <%= f.text_field :address, placeholder: "Address here" %>

  <%= f.text_field :city, placeholder: "City here" %>

  <%= f.country_select :country, priority_countries: ["CA", "US"], include_blank: true %>

  <%= f.text_field :website, placeholder: "Website here" %>

  <%= f.submit %>
 
<% end %>
