<%= simple_form_for(@competition) do |f| %>
  <% if @competition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

      <ul>
      <% @competition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name, placeholder: "Really Amazing Dancesport Competition", label: "Competition Name" %>

  <%# f.input :start_date, label: "Start Date", input_html: { class: 'datetimepicker' } %> <%# f.date_select %>

  <%= f.input :start_date, as: :date, html5: true %> <%# f.date_select %>

  <%= f.input :num_days, collection: 0..30, label: "Number of days", selected: @competition.num_days %>

  <%# f.select :num_days, options_for_select(0..30), prompt: "Number of days" %>

  <%= f.input :comp_association, collection: ['WDC', 'WDSF', 'Collegiate', 'Independent'], include_blank: true, label: "Competition association" %>

  <%= f.input :location_name, placeholder: "Mariott Really Fancy" %>

  <%= f.input :address, placeholder: "123 Main Street" %>

  <%= f.input :city, placeholder: "New York City, NY" %>

  <%# f.country_select :country, priority_countries: ["US", "CA"], include_blank: true %>

  <%= f.input :country, as: :country, priority_countries: ["US", "CA"], include_blank: true %>

  <%= f.input :website, placeholder: "http://google.com" %>

  <%= f.submit %>
 
<% end %>

<%= javascript_tag do %>
  $(function() {
    $('.datetimepicker').fdatetimepicker();
  });
<% end %>
