<%= simple_form_for(@competition, :html=> { class: 'edit_form' }) do |f| %>
  <% if @competition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

      <ul>
      <% @competition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name, placeholder: "Really Amazing Dancesport Competition", label: "Competition Name" %>

  <%= f.input :comp_association, collection: ['WDC', 'WDSF', 'Collegiate', 'Independent'], include_blank: true, label: "Competition association" %>

  <%= f.input :website, placeholder: "http://google.com" %>

  <%= f.input :country, as: :country, priority: ["US", "CA"], include_blank: true %>

  <%# f.association :occurences %>

  <%# f.association :locations %>



    <%# f.simple_fields_for :locations, @competition.locations.build do |l| %>
      <%# l.input :name, label: "Location name", placeholder: "Mariott Really Fancy" %>
      <%# l.input :address, placeholder: "123 Main Street" %>
      <%# l.input :city, placeholder: "New York City, NY" %>
      <%# l.input :country, as: :country, priority: ["US", "CA"], include_blank: true %>
      <%# l.simple_fields_for :occurences, @competition.occurences.build do |o| %>
        <%# o.hidden_field :competition_id, value: @competition.id %>
        <%# o.input :start_date, as: :date, html5: true %> <%# f.date_select %>
        <%# o.input :num_days, collection: 1..30, label: "Number of days" %>
      <%# end %>
    <%# end %>



  <%# f.simple_fields_for :occurences do |occurence| %>
    <%# render 'occurence_fields', f: occurence %>
  <%# end %>

  <%#= f.simple_fields_for :locations do |location| %>
    <%#= render 'location_fields', f: location %>
  <%# end %>

  <div> 
    <%#= link_to_add_association 'add location', f, :locations %>
  </div>
 


  <%# f.simple_fields_for :occurences, @competition.occurences.build do |occurence| %>
    <%# render 'occurence_form', f: o %>
    <%# occurence.input :start_date, as: :date, html5: true %> <%# f.date_select %>
    <%# occurence.input :num_days, collection: 1..30, label: "Number of days" %>
    <%# link_to_add_association 'add task', f, :occurences %>
    <%# occurence.simple_fields_for :locations, @competition.object.locations.build do |location| %>
      <%# location.input :name, label: "Location name", placeholder: "Mariott Really Fancy" %>
      <%# location.input :address, placeholder: "123 Main Street" %>
      <%# location.input :city, placeholder: "New York City, NY" %>
      <%# location.input :country, as: :country, priority: ["US", "CA"], include_blank: true %>
    <%# end %>
  <%# end %>

  

  <%= f.submit %>
 
<% end %>

<%= javascript_tag do %>
  $(function() {
    //$('.datetimepicker').fdatetimepicker();
  });
<% end %>
