<h1>Dancesport Competitions</h1>

<%= form_tag(@search_path, method: :post, class: 'search_form') do %>
  <%= text_field_tag :location, params[:location], placeholder: "Where do you live?", class: "search_input location" %>
  <%= text_field_tag :distance, params[:distance], placeholder: "How far away?", class: "search_input distance" %>
  <%= select_tag :comp_association, options_for_select(['WDC', 'WDSF', 'Collegiate', 'Independent']), include_blank: true, class: "search_select association" %>
  <%= submit_tag "Find", class: "button" %>
<% end %>

<% if user_signed_in? && (can? :create, Competition) %>
  <%= link_to 'New Competition', new_competition_path %>
<% end %>
<% if user_signed_in? && (can? :create, Location) %>
  <%= link_to 'New Location', new_location_path %>
<% end %>
<% if user_signed_in? && (can? :create, Occurence) %>
  <%= link_to 'New Occurence', new_occurence_path %>
<% end %>

<div class="map-container">
  <div id="map" class="map"></div>
</div>

<div class="table-container">
  <table class="table tablesaw tablesaw-stack" data-tablesaw-mode="stack">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Association</th>
        <th>Location</th>
        <th>Website</th>
      </tr>
    </thead>

    <tbody>
      <% @occurences.each do |occurence| %>
        <tr>
          <td><%= link_to occurence.competition.name, occurence.competition %> <%# competition.name %> </td>
          <td><%= date_range occurence.start_date, occurence.end_date, format: :long %></td>
          <td><%= occurence.competition.local_comp_association %> </td>
          <td><%= occurence.location.name %> <br> <%= occurence.location.city_full %></td>
          <td><%= link_to truncate(occurence.competition.website, length: 25), occurence.competition.website_full, target: '_blank' %></td>
          <% if user_signed_in? && (can? :manage, [Competition, Occurence, Location]) %>
          <td>
            <%#= link_to 'Show', occurence.competition %>
            <%= link_to 'Edit Competition', edit_competition_path(occurence.competition) %> <br />
            <%= link_to 'Edit Location', edit_location_path(occurence.location) %> <br />
            <%= link_to 'Edit Occurence', edit_occurence_path(occurence) %> <br />
            <%#= link_to 'Destroy Competition', occurence.competition, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= javascript_tag do %>
  $(function() {


    var mapStyle = [
      // http://snazzymaps.com/
    ];


    handler = Gmaps.build('Google', { markers: { maxRandomDistance: 5 } });
    handler.buildMap({ 
      internal: {id: 'map'},
      provider: {
        zoom:      1,
        //center:    new google.maps.LatLng(53.385873, -1.471471),
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        styles:    mapStyle
      }
    }, 
    function(){
      var markers = handler.addMarkers(<%= @markers.to_json.html_safe %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });


  });
<% end %>

<%= javascript_tag do %>
  $(function() {
    var addressPicker = new AddressPicker();

    $('#location').typeahead(null, {
      displayKey: 'description',
      source: addressPicker.ttAdapter()
    });
  });
<% end %>

