<p>
  <strong>Name:</strong>
  <%= @competition.name %>
</p>

<p>
  <strong>Date(s):</strong>
  <% @competition.occurences.each do |occurence| %>
    <br /><%= date_range occurence.start_date, occurence.end_date, format: :long %> 
  <% end %>
</p>

<p>
  <strong>Association:</strong>
  <%= @competition.local_comp_association %>
</p>

<p>
  <strong>Location:</strong>
  <% unless @competition.occurences.empty? %>
    <%= @competition.occurences.first.location.name %><br>
    <%= @competition.occurences.first.location.location %>
  <% end %>
</p>

<p>
  <strong>Website:</strong>
  <%= link_to @competition.website, @competition.website_full, :target => '_blank' %>
</p>

<% if user_signed_in? && (can? :manage, @competition) %>
  <%= link_to 'Edit', edit_competition_path(@competition) %> |
<% end %>
<%= link_to 'Back', competitions_path %>
<% if user_signed_in? && (can? :create, Competition) %>
  | <%= link_to 'New Competition', new_competition_path %>
<% end %>
<% if user_signed_in? && (can? :create, Location) %>
  | <%= link_to 'New Location', new_location_path %>
<% end %>
<% if user_signed_in? && (can? :create, Occurence) %>
  | <%= link_to 'New Occurence', new_occurence_path %>
<% end %>
