<p>
  <strong>Name:</strong>
  <%= @competition.name %>
</p>

<p>
  <strong>Date(s):</strong>
  <% @competition.occurences.each do |occurence| %>
    <%= date_range occurence.start_date, occurence.end_date, format: :long %>
  <% end %>
</p>

<p>
  <strong>Association:</strong>
  <%= @competition.local_comp_association(@competition.occurences.first.location.country) %>
</p>

<p>
  <strong>Location:</strong>
  <%= @competition.occurences.first.location.name %><br>
  <%= @competition.occurences.first.location.location %>
</p>

<p>
  <strong>Website:</strong>
  <%= link_to @competition.website, @competition.website_full, :target => '_blank' %>
</p>

<% if user_signed_in? && (can? :manage, @competition) %>
<%= link_to 'Edit', edit_competition_path(@competition) %> |
<% end %>
<%= link_to 'Back', competitions_path %>
