<p id="notice"><%= notice %></p>

<h1>Listing Occurences</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @occurences.each do |occurence| %>
      <tr>
        <td><%= link_to 'Show', occurence %></td>
        <td><%= link_to 'Edit', edit_occurence_path(occurence) %></td>
        <td><%= link_to 'Destroy', occurence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Occurence', new_occurence_path %>
