<p id="notice"><%= notice %></p>

<h1>Listing Competitions</h1>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start</th>
      <th>End</th>
      <th>Association</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @competitions.each do |competition| %>
      <tr>
        <td><%= competition.name %></td>
        <td><%= competition.start_date %></td>
        <td><%= competition.end_date %></td>
        <td><%= competition.comp_association %></td>
        <td><%= competition.location %></td>
        <td><%= link_to 'Show', competition %></td>
        <td><%= link_to 'Edit', edit_competition_path(competition) %></td>
        <td><%= link_to 'Destroy', competition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Competition', new_competition_path %>

<%= javascript_tag do %>
  $(function() {


    var mapStyle = [
      // http://snazzymaps.com/
    ];


    handler = Gmaps.build('Google');
    handler.buildMap({ 
      internal: {id: 'map'},
      provider: {
        //zoom:      15,
        //center:    new google.maps.LatLng(53.385873, -1.471471),
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        styles:    mapStyle
      }
    }, 
    function(){
      var markers = handler.addMarkers(<%= @markers.to_json.html_safe %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });


  });
<% end %>