<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= meta_description %>" />

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag	'//fonts.googleapis.com/css?family=Architects+Daughter' %>

  <%= javascript_include_tag '//maps.google.com/maps/api/js?sensor=false&libraries=geometry,places' %>
  <%= javascript_include_tag '//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'vendor/modernizr' %>
  <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js' %>

  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'shared/navigation' %>

  <%= render 'shared/flash' %>

  <div class="container">
    <div class="content">
      <%= yield %>
    </div>
  </div>

  <%= render 'shared/footer' %>

</body>
</html>
